<div class="container-fluid" id="story_container"
     style="background-color: rgba(255,255,255,0.8);font-family: 'Varela Round',
				 sans-serif;white-space: pre-line; position: relative; z-index: 1">
    <i id = "content_spinner" class = "fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"
       style = "position: relative; z-index: 2; left: 50%; top: 50%; display: none" ng-show="showSpinner"></i>
    <div class="row">
        <div class="container col-md-12 text-right"
             id="character_stat" style="white-space: pre-line; cursor: default"></div>
    </div>
</div>